/*Mobile First*/
@font-face {
	font-family: 'acme';
	src: url('Acme-Regular-webfont.eot');
	src: url('Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('Acme-Regular-webfont.woff') format('woff'),
	url('Acme-Regular-webfont.ttf') format('truetype'),
	url('Acme-Regular-webfont.svg#acmeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{
	padding: 0%;
	margin: 0%;
	background-image: url("background.jpg");
}
body{
	margin: 5%;
	font-family: acme;
	display: flex;
	flex-direction: column;
	color: black;
	background-color: white;
	word-wrap: break-word;
	box-sizing: border-box;
	text-align:center;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align: left;
}
#identity_mobile, #identity_desktop{
	padding: 80px 10px 80px 10px;
	font-size: 45px;
}
h2, h3{
	font-size: 20px;
}
h3 i{
	font-size: 32px;
	margin: 0 10px 0 10px;
}
#identity_desktop{
	display: none;
}
#identity_mobile h1 span, #identity_desktop h1 span, .container h3 i{
	color: #4FC3F7;
	font-weight: bold;
}
#identity_mobile h2 span, #identity_desktop h2 span{
	text-decoration: underline #4FC3F7;
}
aside{
	background-color: #212121;
	color: white;
	width: 100%;
}
img{
	padding: 10%;
}
aside h3{
	background-color: white;
	color: #212121;
	font-size: 25px;
	padding: 15px;
}
address{
	padding-top: 36px;
}

#about p{
	padding: 36px 50px 36px 50px;
}
#hobbies{
	height: 136px;
}
p{
	padding-bottom: 18px;
	font-size: 18px;
}
#hobbies ul, #recommends ul{
	display: flex;
	flex-direction: row;
	padding: 2%;
	justify-content: center;
}
#recommends li{
	padding-right: 30px;
}
#recommends br{
	margin-bottom: 4%;
}
#hobbies li{
	align-items: center;
	padding: 3%;
	font-size: 35px;
}
.container{
	width: 100%;
}
.container h3{
	font-size: 28px;
	font-weight: bold;
	padding-top: 5%;
}
hr{
	border-color: #4FC3F7;
	width: 95%;
	margin: 16px 0 50px 0;
}
strong{
	font-weight: bold;
	font-size: 15px;
}
td span{
	text-decoration: underline;
}
td:first-child{
	display: none;
}
tr{
	display: flex;
	flex-direction: column;
	padding: 0% 3% 3% 3%;
}

/*Mobile Landscape and Tablet Portrait*/
@media screen and (min-width: 576px){
	#hobbies{
		padding-bottom: 5%;
	}
	.container{
		text-align: left;
	}

	td i{
		margin-right: 10px;
	}
	td:first-child{
		display: flex;
	}
	tr{
		flex-direction: row;
	}
	td:nth-child(2){
		flex: 0 0 30%;
	}
	td:last-child{
		flex: 0 0 65%;
	}
	#recommends li{
		padding-right: 18%;
	}
	td span{
		text-decoration: none;
	}
}

/*Tablet Landscape*/
@media screen and (min-width: 768px){
	body{
		flex-direction: row;
		text-align:left;
	}
	#identity_mobile{
		display: none;
	}
	#identity_desktop{
		display: flex;
		flex-direction: column;
	}
	aside{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 0 40%;
		text-align:left !important;
	}

	aside img{
		object-fit: scale-down;
	}

	#hobbies{
		margin-top:auto;
	}
	.container{
		padding-left: 40px;
		padding-right: 40px;
	}
	#recommends li{
		padding-right: 10%;
	}
}

/*Computer screen*/
@media screen and (min-width: 992px){
	aside{
		width: 30%;
	}
	.container{
		width: 70%;
		padding-left: 50px;
		padding-right: 40px;
	}
	#identity_desktop{
		padding: 15% 0 15% 0;
	}
	#hobbies li{
		font-size: 30px;
	}
	#recommends li{
		padding-right: 20%;
	}
}

/*Large computer screen*/
@media(min-width: 1200px){
	body{
		width: 1190px;
		height: 1685px;
		margin: auto;
	}
	#recommends ul{
		padding-top: 0;
	}
	#recommends hr{
		margin-bottom: 4%;
	}
}
