@font-face {
    font-family: 'acme';
    src: url('Acme-Regular-webfont.eot');
    src: url('Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Acme-Regular-webfont.woff2') format('woff2'),
         url('Acme-Regular-webfont.woff') format('woff'),
         url('Acme-Regular-webfont.ttf') format('truetype'),
         url('Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	padding: 0px;
	margin-top: 0px;
	background-image: url(background.jpg);
}
body{
	font-family: acme;
	margin: 5%;
}
i{
	font-size: 25px;
	padding-right: 3%;
}
#conteneurs{
	display: flex;
	flex-direction: column;
	color: black;
	text-align: left;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}
.conteneur1{
	background-color: #212121;
	color: white;
	word-wrap: break-word;
	font-size: 15px;
	box-sizing: border-box;
}
img{
    webkit-border-radius:100%;
    moz-border-radius:100%;
    border-radius:100%;
	width:200px;
	height: 200px;
	margin: auto;
	padding: 10%;
}
.contactTitle{
	background-color: white;
	color: #212121;
	padding: 10px 0px 10px 0px;
	font-size: 25px;
	box-sizing: border-box;
	text-align: center;
}
.contact{
	padding: 5%;
}
.aboutMe{
	text-align: justify;
	padding: 5% 5% 50% 5%;
}
.hobbies{
	font-size: 35px;
	padding: 5%;
	text-align: center;
}
.conteneur2{
	padding-left: 5%;
	background-color: white;
	font-size: 15px;
	text-align: center;
}
h1{
	padding: 10% 0 10% 0;
	font-size: 50px;
}
#sousTitre{
	font-weight: normal;
	font-size: 30px;
	padding-top: 10px;
}
#ligne{
	border-bottom: 1px solid #4FC3F7;
	width: 100%;
	margin-bottom: 15px;
}
h3{
	font-size: 18px;
	margin-bottom: 10px;
	text-align: left;
}
.parties{
	color: black;
	padding-left: 20px;
}
.paragraphe{
	box-sizing: border-box;
	padding-top: 2%;
}
section{
	padding: 5%;
	box-sizing: border-box;
}
.point{
	display: none;
}
.year, .etablissement{
	font-size: 20px;
	text-decoration: underline;
}

@media screen and (mix-width: 576px){
	.conteneur2{
		text-align: left;
	}

}
@media screen and (mix-width: 768px){
	.point{
		display: inline-block;
		vertical-align: top;
		padding-top: 22px;
		font-size: 20px;
	}
	.year{
		width: 12%;
		display: inline-block;
		vertical-align: top;
		padding-left: 40px;
		font-size: 22px;
	}
	.paragraphe{
		box-sizing: border-box;
		padding-top: 5%;
	}
	.etablissement{
		font-size: 30px;
	}
	section{
		display: inline-block;
		width: 80%;
		vertical-align: top;
		padding: 0 5% 0 20%;
		box-sizing: border-box;
	}
	.conteneur1{
		border: 1px solid black;
		width: 30%;
	}
	.conteneur2{
		flex: 2;
		width: 65%;
	}
}
@media screen and (mix-width: 992px){
	.point{
		display: inline-block;
		vertical-align: top;
		padding-top: 22px;
		font-size: 20px;
	}
	.year{
		width: 12%;
		display: inline-block;
		vertical-align: top;
		padding-left: 40px;
		font-size: 22px;
	}
	.paragraphe{
		box-sizing: border-box;
		padding-top: 5%;
	}
	.etablissement{
		font-size: 30px;
	}
	section{
		display: inline-block;
		width: 80%;
		vertical-align: top;
		padding: 0 5% 0 20%;
		box-sizing: border-box;
	}
	.conteneur1{
		border: 1px solid black;
		width: 30%;
	}
	.conteneur2{
		flex: 2;
		width: 65%;
	}
}
@media(min-width: 1200px){
	body{
		padding: 5%;
	}
	#conteneurs{
		flex-direction: row;
		text-align: left;
	}
	.conteneur1{
		border: 1px solid black;
		width: 30%;
		text-align: center;
	}
	.contact{
		padding: 20% 5% 20% 5%;
	}
	.aboutMe{
		padding-bottom: 150%;
	}
	.conteneur2{
		padding-left: 5%;
		width: 70%;
	}
	.point{
		display: inline-block;
		vertical-align: top;
		padding-top: 22px;
		font-size: 20px;
	}
	.year{
		width: 12%;
		display: inline-block;
		vertical-align: top;
		padding-left: 40px;
		font-size: 22px;
	}
	.paragraphe{
		box-sizing: border-box;
		padding-top: 5%;
	}
	.etablissement{
		font-size: 30px;
	}
	section{
		display: inline-block;
		width: 80%;
		vertical-align: top;
		padding: 0 5% 0 20%;
		box-sizing: border-box;
	}

}